@model EntityLayer.Concrete.Admin
@{
    ViewBag.Title = "EditAdmin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>admin Güncelleme Sayfası</h2>
@using (Html.BeginForm("EditAdmin", "Authorization", FormMethod.Post))
{
    <div class="form-group">
        @Html.HiddenFor(x => x.adminId, new {@class="form-control"})

        @Html.Label("admin kullanıcı adı")
        @Html.TextBoxFor(x => x.adminUserName, new { @class = "form-control" })
        @*@Html.ValidationMessageFor(x => x.categoryName)*@
        <br />
        <br />
        @Html.Label("şifreyi giriniz")
        @Html.TextAreaFor(x => x.adminPassword, new { @class = "form-control" })
        @*@Html.ValidationMessageFor(x => x.categoryDescription)*@
        @Html.Label("rolu giriniz")
        @Html.TextAreaFor(x => x.adminRole, new { @class = "form-control" })
        <br />
        <button class="btn btn-info">guncelle</button>
    </div>
}
