@model EntityLayer.Concrete.Category
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<h1>yeni kategori ekleme sayfası</h1>
@using (Html.BeginForm("AddCategory", "Category",FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("kategori adı")
        @Html.TextBoxFor(x=>x.categoryName)
        @Html.ValidationMessageFor(x=>x.categoryName)
        <br />
        <br />
        @Html.Label("açiklamayı giriniz")
        @Html.TextBoxFor(x=>x.categoryDescription)
        @Html.ValidationMessageFor(x=>x.categoryDescription)
        <br /> <br />
        <button>kaydet</button>
    </div>
}
<!--<form class="form-group" method="post">-->
@*<input type="text" placeholder="kategori adi" name="categoryName" class="form-control" />
    <button class="btn btn-primary">ekle</button>*@

<!--</form>-->