@model EntityLayer.Concrete.Heading
@{
    ViewBag.Title = "EditHeading";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Başlık Guncelleme SAYFASI</h2>
@using (Html.BeginForm("EditHeading","Heading",FormMethod.Post))
{
<div class="form-group">
    @Html.Label("Başlık Id")
    @Html.TextBoxFor(x => x.headingId, new { @class = "form-control" })
    <br />
    @Html.Label("Başlık Adı")
    @Html.TextBoxFor(x => x.headingName, new { @class = "form-control" })
    <br />
    @Html.Label("Tarih")
    @Html.TextBoxFor(x => x.headingDate, new { @class = "form-control" })
    <br />
    @Html.Label("Yazar Adı")
    @Html.TextBoxFor(x => x.writerId, new { @class = "form-control" })
    <br />
    @Html.Label("Kategori")
    @Html.DropDownListFor(x => x.categoryId, (List<SelectListItem>)ViewBag.vlC, new { @class = "form-control" })
    <br />
    <button class="btn btn-success">guncelle</button>
</div>
}

